@charset "UTF-8";
/*共通部分*/
html{
    font-size: 100%;
}
body{
    width: 100%;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1500px;
    width:calc(100% - 120px);
    margin: 0 auto;
}
.inner{
    width: calc(100% - 180px);
}
h2{
    font-size: 2.5rem;
    letter-spacing: 6px;
}
.display-blue{
    color: #91C3E0;
    font-weight: bold;
}
.shadow :hover{
    box-shadow: 0 0 20px rgba(47, 64, 80, .2);
    background-color: white;
    transition: all 1.5s;
}
/*なんかうまくいかないから、shadowではなく裏の画像表示とかの方がよさそう*/

.blue{
    color: #91C3E0
}
.black{
    color: rgb(49, 20, 20);
}
.gray{
    color: dimgray;
}
.btn{
    padding: 16px 40px;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
}

.hide{
    display: none;
    transition: all 1s;
}
/*header*/
header{
    z-index: 10;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    top: 0;
}
.header-top{
    margin: 0 auto;
}
.header-top-disappear{
    display: flex;
    justify-content: right;
    margin: 10px 20px 0;
    align-items: center;
}
.head-consult{
    position: relative;
}
.head-consult::before{
    content: "↓";
    font-weight: bold;
    color: #91C3E0;
    position: absolute;
    bottom: -32px;
    left: 24px;
}
.bg-orange{
    background-color: orange;
    color: white;
    padding: 2px 24px;
    border-radius: 20px;
    margin-right: 30px;
    font-size: 0.8rem;
}
.nav-number{
    font-size: 1.5rem;
    position: relative;
}
.nav-number::before{
    content: "ご予約・お問い合わせ";
    position: absolute;
    top: -16px;
    color: rgb(49, 20, 20);
    font-size: 0.8rem;
}/*疑似要素で上に「ご予約・お問い合わせ」を追加*/
.blue{
    color: rgb(106, 174, 237);
}

.header-top-remain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    transition: all 1s;
}
.header-right{
    align-items: center;
}
.header-right a{
    color: rgb(49, 20, 20);
    letter-spacing: 2px;
}
.header-right li{
    margin-left: 10px;
    font-size: 0.8rem;
}
.web-appointment{
    background: rgb(64, 146, 162);
    padding: 16px 32px;
    border-radius: 40px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}
.remain-right{
    margin-top: -100px;
}



/*header-top-disappearを消す
  remain-leftを右に寄せる
  header-rightを左に寄せる
　header-top-remainの背景白、wrapper追加*/
.hide{
    display: none;
}
.to-right{
    transform: translateX(40px);
    transition: all 1s;
}
.to-left{
    transform: translateX(-40px);
    transition: all 1s;
}
.schroll{
    background-color: white;
    padding: 30px 60px;  
    border-radius: 60px;
    align-items: center;  
    margin: 0 auto;
    max-width: 1500px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    position: fixed;
    transition: all 1s;
}
.header-middle-right-fix{
    position: fixed;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
}



/*schrool*/
.scroll{
    background-color: white;
    padding: 30px 60px;  
    border-radius: 60px;
    align-items: center;  
    margin: 0 auto;
    max-width: 1500px;
    position: absolute;
    width: 94%;
    top: 40px;
    left: 0;
    right: 0;
    position: fixed;
    transition: all 1s;
}
.scroll img{
    width: 200px;
}
.scroll-right{
    align-items: center;
}
.scroll-right li{
    margin-right: 30px;
    font-size: 0.8rem;
}

.header-middle{
    align-items: flex-end;
    color: white;
    font-weight: bold;
    overflow: hidden;
    transition: all 1s;
}
.header-middle-right{
    margin-left: -10%;
    z-index: 10;
    background-color: white;
    border-radius: 50px;
    padding: 20px 1000px 20px 30px;
    align-items: center;
    box-shadow: 0 0 50px rgba(47, 64, 80, .5);
}
.bg-white{
    color: orange;
    background-color: white;
    padding: 8px 40px;
    border-radius: 40px;
    max-width: 500px;
    width: 70vw;
    margin: 5px 0 0 5px;
    transition: all 1s;
    position: relative;
}
.bg-white::after{
    content: ">";
    position: absolute;
    right: 40px;
    color: orange;
    font-weight: bold;
}
.hours-title{
    padding: 0 20px;
}
.header-colomn{
    writing-mode: vertical-lr;
    padding-right: 20px;
    border-right: #bec4c4 2px solid;
    letter-spacing: 5px;
}
.holidays{
    font-size: 0.8rem;
}
.open::after{
	display: inline-block;
	content: "";
	margin-top: 6px;
	margin-right: 7px;
	width: 10px;
	height: 10px;
	vertical-align: top;
	border-radius: 5px;
	background-color: #91C3E0;
}
th,td{
    padding: 10px 1vw;
    max-width: 200px;
    border-bottom: #bec4c4 1px solid;
    text-align: center;
    white-space: nowrap;
}
.adress{
    padding-top: 20px;
    letter-spacing: 3px;
}
.btn-map{
    padding: 0.1rem 24px;
    border-radius: 24px;
    border: #91C3E0 1px solid;
    margin-left: 50px;
}
.btn-map p{
    font-size: 0.8rem;
}
/*header*/


/*home*/
.home{
    background-color: white;
    width: 100%;
    margin-top: 3.5%;
    position: relative;
}
.home-background{
    background-image: url(../images/home_slide1.jpg);
    background-size: cover;
    background-position: center top;
    height: 135vh;
    border-radius: 100px;
    margin: 20px auto 0;
    max-width: 1500px;
    max-height: 900px;
}
.home-text{
    position: absolute;
    top: 40%;
    left: 180px;
    color: white;
}
.home-text-explanation{
    margin-top: 20px;
    letter-spacing: 4px;
    font-size: 1.3rem;
    font-weight: bold;
}
/*home*/


/*content*/
.content{
    padding: 200px 0;
}
.content-top{
    align-items: center;
    color: dimgray;
    margin-bottom: 60px;
    justify-content: unset;
}
.content-top h2{
    font-size: 3rem;
    padding-right: 70px;
    border-right: gray 4px solid;
    line-height: 2rem;
}
.content-top p{
    margin-left: 70px;
}

.content-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content-element{
    display: block;
    text-align: center;
    background-color: rgb(237, 236, 236);
    padding: 40px 10px;
    border-radius: 50px;
    position: relative;
}
.content-element p{
    font-size: 1.1rem;
    height: 3rem;
    font-weight: bold;
    margin-top: 20px;
    color: dimgray;
    position: relative;
}
.one-colomn{
    line-height: 3rem;
}
.content-img-text::after{
    content: ">";
    color: orange;
    font-size: 1.1rem;
    position: absolute;
    right: 25px;
    bottom: 10px;
    /*疑似要素で「>」*/
}
/*content*/


/*character*/
.character{
    background-color: #91C3E0;
    margin-top: -7.9px;
    padding-top: 70px;
    text-align: center;
}
.character-title{
    padding-bottom: 30px;
    margin-bottom: 200px;
    color: white;
    position: relative;
}
.character-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}
.character-title::after{
    content: "_";
    color: white;
    font-size: 4rem;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
.character-element{
    text-align: left;
    position: relative;
    z-index: 2;
}
.character-element::before{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: -75px;
    left: -40px;
    z-index: -1;
}
.character-one::before{
    content: "01";
}
.character-two::before{
    content: "02";
}
.character-three::before{
    content: "03";
}
.character-four::before{
    content: "04";
}
.character-five::before{
    content: "05";
}
.character-six::before{
    content: "06";
}
.character-element img{
    border-radius: 30px;
}
.character-subtitle{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 50px 0 100px;
    height: 3rem;
}

.character-text{
    margin-bottom: 120px;
    color: rgb(53, 29, 11);
    line-height: 1.8rem;
    height: 6rem;
}
.btn-character{
    border: white 2px solid;
    width: 70%;
    margin: 0 auto 200px;
}
.btn-character a p{
    color: white;
    font-size: 0.9rem;
}
/*character*/


/*topic*/
.line2{
    margin-top: -1px;
    height: 110px;
    width: 100%;
    z-index: 10;
    background-color: #91C3E0;
}
.topic{
    text-align: center;
    padding-top: 100px;
}
.topic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.topic-top{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.topic-top::after{
    content: "_";
    font-size: 4rem;
    color: #91C3E0;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
.topic-element{
    text-align: center;
    margin-bottom: 50px;
    padding: 10px 5px;
}
.date{
    text-align: left;
}
.topic-element img{
    padding: 20px 10%;
    width: 80%;
    height: 250px;
}
.topic-subtitle{
    font-size: 1.2rem;
    margin: 30px 0;
    height: 3rem;
    text-align: left;
}
.topic-text{
    font-size: 0.9rem;
    height: 6rem;
    text-align: left;
}
.hover-red:hover{
    color: rgb(202, 56, 16);
}
.btn-more{
    padding: 30px 80px;
    border-radius: 80px;
    background-color: gray;
    width: 25%;
}
.more{
    color: white;
}
.btn-more:hover{
    background-color: #062b40;
    transition: all 1s;
}
/*topic*/


/*recruit*/
.recruit{
    text-align: center;
    padding: 200px 0;
    margin-bottom: 150px;
    background: linear-gradient(0deg,#bec4c4 0%,#bec4c4 50%,white 50%,white 100%);
}
.recruit-flex{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
}
.recruit img{
    width: 47%;
}
/*recruit*/


/*nav*/
.navigation{
    margin-bottom: 100px;
}
.nav-left img{
    margin-bottom: 70px;
}
.num-bigger{
    font-size: 3rem;
    color: #91C3E0;
    margin-bottom: 50px;
}
.num-bigger::before{
    font-size: 1.2rem;
}
/*nav*/


/*footer*/
footer{
    background-color: #F4F4F4;
    padding: 100px 0;
    position: relative;
}
.line-three{
    position: absolute;
    top: -20px;
}
.footer-flex{
    justify-content: space-between;
}
.footer-left{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.footer-left-element{
    font-weight: bold;
    letter-spacing: 3px;
    width: 90%;
    height: 3rem;
}
.footer-left-element::before{
    content: "> ";
    color: #91C3E0;
    font-weight: bold;
}
.footer-right{
    width: 55%;
    padding-left:20px;
}
.longer{
    white-space: nowrap;
}

.footer-right-top{
    font-weight: bold;
    letter-spacing: 3px;
    width: 90%;
    height: 3rem;
}
.footer-right-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}
.footer-right-element{
    font-size: 0.8rem;
    height: 1.5rem;
}
.footer-right-element::before{
    content: "- ";
    font-weight: bold;
}
.flex-sns{
    justify-content: left;
}
.sns{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}
.footer-bottom-right{
    padding-top: 50px;
    float: right;
}
/*footer*/